/*.sln
/packages
/PresentationLayer/Properties
/PresentationLayer/PresentationLayer.csproj
/PresentationLayer/PresentationLayer.csproj.user
/PresentationLayer/bin
/PresentationLayer/obj
/BusinessLogicLayer/Properties
/BusinessLogicLayer/BusinessLogicLayer.csproj
/BusinessLogicLayer/BusinessLogicLayer.csproj.user
/BusinessLogicLayer/bin
/BusinessLogicLayer/obj
/DataAccessLayer/DataAccessLayer.csproj
/DataAccessLayer/packages.config
/DataAccessLayer/bin
/DataAccessLayer/obj
/DataAccessLayer/Properties
/EFExample_HW/EFExample_HW.csproj
/EFExample_HW/packages.config
/EFExample_HW/bin
/EFExample_HW/obj
/EFExample_HW/Properties
/EFExample_HW/App.config
